AIPos.DekstopLayer/Service References/ServiceTipo/STipo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo" nillable="true" type="tns:Tipo" />
  <xs:complexType name="ArrayOfTipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo" nillable="true" type="tns:Tipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo" nillable="true" type="tns:ArrayOfTipo" />
</xs:schema>