AIPos.DekstopLayer/Service References/ServiceListaPrecioProducto/ISListaPrecioProducto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sanagustinservices.azurewebsites.net/ISListaPrecioProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
  <xs:element name="SelectByProductoSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
        <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByProductoSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="SelectByProductoSucursalResult" nillable="true" type="q1:ListaPrecioProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByProductoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
        <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByProductoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="SelectByProductoClienteResult" nillable="true" type="q2:ListaPrecioProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByProductoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaId" type="xs:int" />
        <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByProductoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="SelectByProductoListaResult" nillable="true" type="q3:ListaPrecioProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>