AIPos.DekstopLayer/Service References/ServiceListaPrecioProducto/ISListaPrecioProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ListaPrecioProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="ListaPrecioId" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaPrecioProducto" nillable="true" type="tns:ListaPrecioProducto" />
</xs:schema>