AIPos.DekstopLayer/Service References/ServiceListaPrecioProducto/ISListaPrecioProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ISListaPrecioProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/ISListaPrecioProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/ISListaPrecioProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/ISListaPrecioProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IISListaPrecioProducto_SelectByProductoSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByProductoSucursal" />
  </wsdl:message>
  <wsdl:message name="IISListaPrecioProducto_SelectByProductoSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByProductoSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IISListaPrecioProducto_SelectByProductoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByProductoCliente" />
  </wsdl:message>
  <wsdl:message name="IISListaPrecioProducto_SelectByProductoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByProductoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IISListaPrecioProducto_SelectByProductoLista_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByProductoLista" />
  </wsdl:message>
  <wsdl:message name="IISListaPrecioProducto_SelectByProductoLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByProductoListaResponse" />
  </wsdl:message>
  <wsdl:portType name="IISListaPrecioProducto">
    <wsdl:operation name="SelectByProductoSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IISListaPrecioProducto/SelectByProductoSucursal" message="tns:IISListaPrecioProducto_SelectByProductoSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISListaPrecioProducto/SelectByProductoSucursalResponse" message="tns:IISListaPrecioProducto_SelectByProductoSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByProductoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IISListaPrecioProducto/SelectByProductoCliente" message="tns:IISListaPrecioProducto_SelectByProductoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISListaPrecioProducto/SelectByProductoClienteResponse" message="tns:IISListaPrecioProducto_SelectByProductoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByProductoLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IISListaPrecioProducto/SelectByProductoLista" message="tns:IISListaPrecioProducto_SelectByProductoLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISListaPrecioProducto/SelectByProductoListaResponse" message="tns:IISListaPrecioProducto_SelectByProductoLista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IISListaPrecioProducto" type="tns:IISListaPrecioProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectByProductoSucursal">
      <soap:operation soapAction="http://tempuri.org/IISListaPrecioProducto/SelectByProductoSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByProductoCliente">
      <soap:operation soapAction="http://tempuri.org/IISListaPrecioProducto/SelectByProductoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByProductoLista">
      <soap:operation soapAction="http://tempuri.org/IISListaPrecioProducto/SelectByProductoLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISListaPrecioProducto">
    <wsdl:port name="BasicHttpBinding_IISListaPrecioProducto" binding="tns:BasicHttpBinding_IISListaPrecioProducto">
      <soap:address location="http://serveraplicaciones.cloudapp.net:66/ISListaPrecioProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>