AIPos.DekstopLayer/Service References/ServiceVenta/ISVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ISVenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/ISVenta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/ISVenta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/ISVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IISVenta_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IISVenta_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioVenta" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCancelado_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCancelado" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCancelado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCanceladoResponse" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCanceladoApartado_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCanceladoApartado" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCanceladoApartado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCanceladoApartadoResponse" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCanceladoDomicilio_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCanceladoDomicilio" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCanceladoDomicilio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCanceladoDomicilioResponse" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCanceladoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCanceladoServicio" />
  </wsdl:message>
  <wsdl:message name="IISVenta_GenerarFolioCanceladoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarFolioCanceladoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IISVenta_RecuperarCorteCaja_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarCorteCaja" />
  </wsdl:message>
  <wsdl:message name="IISVenta_RecuperarCorteCaja_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarCorteCajaResponse" />
  </wsdl:message>
  <wsdl:portType name="IISVenta">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IISVenta/Insert" message="tns:IISVenta_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISVenta/InsertResponse" message="tns:IISVenta_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioVenta" message="tns:IISVenta_GenerarFolioVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioVentaResponse" message="tns:IISVenta_GenerarFolioVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCancelado">
      <wsdl:input wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCancelado" message="tns:IISVenta_GenerarFolioCancelado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCanceladoResponse" message="tns:IISVenta_GenerarFolioCancelado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCanceladoApartado">
      <wsdl:input wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCanceladoApartado" message="tns:IISVenta_GenerarFolioCanceladoApartado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCanceladoApartadoResponse" message="tns:IISVenta_GenerarFolioCanceladoApartado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCanceladoDomicilio">
      <wsdl:input wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCanceladoDomicilio" message="tns:IISVenta_GenerarFolioCanceladoDomicilio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCanceladoDomicilioResponse" message="tns:IISVenta_GenerarFolioCanceladoDomicilio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCanceladoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCanceladoServicio" message="tns:IISVenta_GenerarFolioCanceladoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISVenta/GenerarFolioCanceladoServicioResponse" message="tns:IISVenta_GenerarFolioCanceladoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarCorteCaja">
      <wsdl:input wsaw:Action="http://tempuri.org/IISVenta/RecuperarCorteCaja" message="tns:IISVenta_RecuperarCorteCaja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISVenta/RecuperarCorteCajaResponse" message="tns:IISVenta_RecuperarCorteCaja_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IISVenta" type="tns:IISVenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IISVenta/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioVenta">
      <soap:operation soapAction="http://tempuri.org/IISVenta/GenerarFolioVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCancelado">
      <soap:operation soapAction="http://tempuri.org/IISVenta/GenerarFolioCancelado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCanceladoApartado">
      <soap:operation soapAction="http://tempuri.org/IISVenta/GenerarFolioCanceladoApartado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCanceladoDomicilio">
      <soap:operation soapAction="http://tempuri.org/IISVenta/GenerarFolioCanceladoDomicilio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarFolioCanceladoServicio">
      <soap:operation soapAction="http://tempuri.org/IISVenta/GenerarFolioCanceladoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarCorteCaja">
      <soap:operation soapAction="http://tempuri.org/IISVenta/RecuperarCorteCaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISVenta">
    <wsdl:port name="BasicHttpBinding_IISVenta" binding="tns:BasicHttpBinding_IISVenta">
      <soap:address location="http://serveraplicaciones.cloudapp.net:66/ISVenta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>