AIPos.DekstopLayer/Service References/ServiceVenta/ISVenta3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sanagustinservices.azurewebsites.net/ISVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="venta" nillable="true" type="q1:Venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="InsertResult" nillable="true" type="q2:Venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarFolioVentaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCancelado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
        <xs:element minOccurs="0" name="Fecha" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCanceladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarFolioCanceladoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCanceladoApartado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
        <xs:element minOccurs="0" name="Fecha" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCanceladoApartadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarFolioCanceladoApartadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCanceladoDomicilio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
        <xs:element minOccurs="0" name="Fecha" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCanceladoDomicilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarFolioCanceladoDomicilioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCanceladoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
        <xs:element minOccurs="0" name="Fecha" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarFolioCanceladoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarFolioCanceladoServicioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCorteCaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" type="xs:long" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:long" />
        <xs:element minOccurs="0" name="SucursalId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCorteCajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="RecuperarCorteCajaResult" nillable="true" type="q3:ArrayOfReporteCorteCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarVentaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VentaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarVentaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="RecuperarVentaDetalleResult" nillable="true" type="q4:ArrayOfVentaDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>