AIPos.DekstopLayer/Service References/ServicePedidoSucursal/SPedidoSucursal32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sanagustinservices.azurewebsites.net/SPedidoSucursal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="entity" nillable="true" type="q1:PedidoSucursal" />
        <xs:element minOccurs="0" name="FechaRegistro" type="xs:long" />
        <xs:element minOccurs="0" name="FechaEntrega" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="InsertResult" nillable="true" type="q2:PedidoSucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="entity" nillable="true" type="q3:PedidoSucursal" />
        <xs:element minOccurs="0" name="FechaRegistro" type="xs:long" />
        <xs:element minOccurs="0" name="FechaEntrega" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="UpdateResult" nillable="true" type="q4:PedidoSucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBySucursalFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
        <xs:element minOccurs="0" name="Day" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBySucursalFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="SelectBySucursalFechaResult" nillable="true" type="q5:ArrayOfPedidoSucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>