AIPos.DekstopLayer/Service References/ServiceEntrada/SEntrada1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SEntrada" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/SEntrada.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/SEntrada.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/SEntrada.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISEntrada_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ISEntrada_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISEntrada_SelectByDay_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByDay" />
  </wsdl:message>
  <wsdl:message name="ISEntrada_SelectByDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByDayResponse" />
  </wsdl:message>
  <wsdl:message name="ISEntrada_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ISEntrada_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ISEntrada_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISEntrada_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISEntrada">
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEntrada/SelectAll" message="tns:ISEntrada_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEntrada/SelectAllResponse" message="tns:ISEntrada_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEntrada/SelectByDay" message="tns:ISEntrada_SelectByDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEntrada/SelectByDayResponse" message="tns:ISEntrada_SelectByDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEntrada/Insert" message="tns:ISEntrada_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEntrada/InsertResponse" message="tns:ISEntrada_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEntrada/Delete" message="tns:ISEntrada_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEntrada/DeleteResponse" message="tns:ISEntrada_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISEntrada" type="tns:ISEntrada">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ISEntrada/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByDay">
      <soap:operation soapAction="http://tempuri.org/ISEntrada/SelectByDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ISEntrada/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISEntrada/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SEntrada">
    <wsdl:port name="BasicHttpBinding_ISEntrada" binding="tns:BasicHttpBinding_ISEntrada">
      <soap:address location="http://serveraplicaciones.cloudapp.net:66/SEntrada.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>