AIPos.DekstopLayer/Service References/ServiceRetiroDinero/ISRetiroDinero.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ISRetiroDinero" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/ISRetiroDinero.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/ISRetiroDinero.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/ISRetiroDinero.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IISRetiroDinero_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IISRetiroDinero_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IISRetiroDinero_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IISRetiroDinero_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IISRetiroDinero_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IISRetiroDinero_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IISRetiroDinero_SelectAllByFechaSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllByFechaSucursal" />
  </wsdl:message>
  <wsdl:message name="IISRetiroDinero_SelectAllByFechaSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllByFechaSucursalResponse" />
  </wsdl:message>
  <wsdl:portType name="IISRetiroDinero">
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IISRetiroDinero/Delete" message="tns:IISRetiroDinero_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISRetiroDinero/DeleteResponse" message="tns:IISRetiroDinero_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IISRetiroDinero/Insert" message="tns:IISRetiroDinero_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISRetiroDinero/InsertResponse" message="tns:IISRetiroDinero_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IISRetiroDinero/Update" message="tns:IISRetiroDinero_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISRetiroDinero/UpdateResponse" message="tns:IISRetiroDinero_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllByFechaSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IISRetiroDinero/SelectAllByFechaSucursal" message="tns:IISRetiroDinero_SelectAllByFechaSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISRetiroDinero/SelectAllByFechaSucursalResponse" message="tns:IISRetiroDinero_SelectAllByFechaSucursal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IISRetiroDinero" type="tns:IISRetiroDinero">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IISRetiroDinero/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IISRetiroDinero/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IISRetiroDinero/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllByFechaSucursal">
      <soap:operation soapAction="http://tempuri.org/IISRetiroDinero/SelectAllByFechaSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISRetiroDinero">
    <wsdl:port name="BasicHttpBinding_IISRetiroDinero" binding="tns:BasicHttpBinding_IISRetiroDinero">
      <soap:address location="http://sanagustinservices.azurewebsites.net/ISRetiroDinero.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>