AIPos.DekstopLayer/Service References/ServiceUnidad/SUnidad1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Unidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unidad" nillable="true" type="tns:Unidad" />
  <xs:complexType name="ArrayOfUnidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Unidad" nillable="true" type="tns:Unidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnidad" nillable="true" type="tns:ArrayOfUnidad" />
</xs:schema>