AIPos.DekstopLayer/Service References/ServiceCuentaPorCobrar/SCuentaPorCobrar2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sanagustinservices.azurewebsites.net/SCuentaPorCobrar.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
  <xs:element name="NuevaCuentaPorCobrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="cuentaPorCobrar" nillable="true" type="q1:CuentaPorCobrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaCuentaPorCobrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="NuevaCuentaPorCobrarResult" nillable="true" type="q2:CuentaPorCobrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="RecuperarPorClienteResult" nillable="true" type="q3:ArrayOfCuentaPorCobrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPorClienteEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
        <xs:element minOccurs="0" name="Estatus" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPorClienteEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="RecuperarPorClienteEstatusResult" nillable="true" type="q4:ArrayOfCuentaPorCobrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>