AIPos.DekstopLayer/Service References/ServiceCuentaPorCobrar/SCuentaPorCobrar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CuentaPorCobrar">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estatus" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLimite" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="VentaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaPorCobrar" nillable="true" type="tns:CuentaPorCobrar" />
  <xs:complexType name="ArrayOfCuentaPorCobrar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuentaPorCobrar" nillable="true" type="tns:CuentaPorCobrar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuentaPorCobrar" nillable="true" type="tns:ArrayOfCuentaPorCobrar" />
</xs:schema>