AIPos.DekstopLayer/Service References/ServiceCuentaPorCobrar/SCuentaPorCobrar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SCuentaPorCobrar" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISCuentaPorCobrar_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SCuentaPorCobrar.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SCuentaPorCobrar.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SCuentaPorCobrar.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISCuentaPorCobrar_NuevaCuentaPorCobrar_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevaCuentaPorCobrar" />
  </wsdl:message>
  <wsdl:message name="ISCuentaPorCobrar_NuevaCuentaPorCobrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevaCuentaPorCobrarResponse" />
  </wsdl:message>
  <wsdl:message name="ISCuentaPorCobrar_RecuperarPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarPorCliente" />
  </wsdl:message>
  <wsdl:message name="ISCuentaPorCobrar_RecuperarPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ISCuentaPorCobrar_RecuperarPorClienteEstatus_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarPorClienteEstatus" />
  </wsdl:message>
  <wsdl:message name="ISCuentaPorCobrar_RecuperarPorClienteEstatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarPorClienteEstatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ISCuentaPorCobrar">
    <wsdl:operation name="NuevaCuentaPorCobrar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCuentaPorCobrar/NuevaCuentaPorCobrar" message="tns:ISCuentaPorCobrar_NuevaCuentaPorCobrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCuentaPorCobrar/NuevaCuentaPorCobrarResponse" message="tns:ISCuentaPorCobrar_NuevaCuentaPorCobrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarPorCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorCliente" message="tns:ISCuentaPorCobrar_RecuperarPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorClienteResponse" message="tns:ISCuentaPorCobrar_RecuperarPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarPorClienteEstatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorClienteEstatus" message="tns:ISCuentaPorCobrar_RecuperarPorClienteEstatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorClienteEstatusResponse" message="tns:ISCuentaPorCobrar_RecuperarPorClienteEstatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISCuentaPorCobrar" type="tns:ISCuentaPorCobrar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevaCuentaPorCobrar">
      <soap:operation soapAction="http://tempuri.org/ISCuentaPorCobrar/NuevaCuentaPorCobrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPorCliente">
      <soap:operation soapAction="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPorClienteEstatus">
      <soap:operation soapAction="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorClienteEstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISCuentaPorCobrar" type="tns:ISCuentaPorCobrar">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISCuentaPorCobrar_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevaCuentaPorCobrar">
      <soap:operation soapAction="http://tempuri.org/ISCuentaPorCobrar/NuevaCuentaPorCobrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPorCliente">
      <soap:operation soapAction="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPorClienteEstatus">
      <soap:operation soapAction="http://tempuri.org/ISCuentaPorCobrar/RecuperarPorClienteEstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCuentaPorCobrar">
    <wsdl:port name="BasicHttpBinding_ISCuentaPorCobrar" binding="tns:BasicHttpBinding_ISCuentaPorCobrar">
      <soap:address location="http://sanagustinservices.azurewebsites.net/SCuentaPorCobrar.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISCuentaPorCobrar" binding="tns:BasicHttpsBinding_ISCuentaPorCobrar">
      <soap:address location="https://sanagustinservices.azurewebsites.net/SCuentaPorCobrar.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>