AIPos.DekstopLayer/Service References/ServiceSeguimientoServicioApartado/SSeguimientoServicioApartado31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sanagustinservices.azurewebsites.net/SSeguimientoServicioApartado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="entity" nillable="true" type="q1:SeguimientoServicioApartado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="InsertResult" nillable="true" type="q2:SeguimientoServicioApartado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="entity" nillable="true" type="q3:SeguimientoServicioApartado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="UpdateResult" nillable="true" type="q4:SeguimientoServicioApartado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VentaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="SelectByIdResult" nillable="true" type="q5:SeguimientoServicioApartado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarNuevoFolioEnvio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarNuevoFolioEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarNuevoFolioEnvioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>