AIPos.DekstopLayer/Service References/ServiceSeguimientoServicioApartado/SSeguimientoServicioApartado32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SeguimientoServicioApartado">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaLlegadaRepartidor" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalidaRepartidor" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Repartidor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VentaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeguimientoServicioApartado" nillable="true" type="tns:SeguimientoServicioApartado" />
</xs:schema>