AIPos.DekstopLayer/Service References/ServiceProducto/SProducto1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/SProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/SProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serveraplicaciones.cloudapp.net:66/SProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISProducto_SelectAllProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllProductos" />
  </wsdl:message>
  <wsdl:message name="ISProducto_SelectAllProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllProductosResponse" />
  </wsdl:message>
  <wsdl:message name="ISProducto_SelectByCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByCodigo" />
  </wsdl:message>
  <wsdl:message name="ISProducto_SelectByCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="ISProducto_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="ISProducto_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISProducto">
    <wsdl:operation name="SelectAllProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISProducto/SelectAllProductos" message="tns:ISProducto_SelectAllProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISProducto/SelectAllProductosResponse" message="tns:ISProducto_SelectAllProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISProducto/SelectByCodigo" message="tns:ISProducto_SelectByCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISProducto/SelectByCodigoResponse" message="tns:ISProducto_SelectByCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISProducto/SelectById" message="tns:ISProducto_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISProducto/SelectByIdResponse" message="tns:ISProducto_SelectById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISProducto" type="tns:ISProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAllProductos">
      <soap:operation soapAction="http://tempuri.org/ISProducto/SelectAllProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByCodigo">
      <soap:operation soapAction="http://tempuri.org/ISProducto/SelectByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/ISProducto/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SProducto">
    <wsdl:port name="BasicHttpBinding_ISProducto" binding="tns:BasicHttpBinding_ISProducto">
      <soap:address location="http://serveraplicaciones.cloudapp.net:66/SProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>