AIPos.DekstopLayer/Service References/ServiceConfiguracion/SConfiguracionGeneral1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sanagustinservices.azurewebsites.net/SConfiguracionGeneral.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
  <xs:element name="RecuperarConfiguracion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AIPos.Domain" minOccurs="0" name="RecuperarConfiguracionResult" nillable="true" type="q1:ConfiguracionGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>