AIPos.DekstopLayer/Service References/ServiceConfiguracion/SConfiguracionGeneral2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConfiguracionGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivarBascula" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActivarFotoProductoPOS" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActivarImprimirFechaHoraTicket" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActivarTicketPesaje" type="xs:boolean" />
      <xs:element minOccurs="0" name="AgradecimientoTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecimalesCantidad" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DecimalesPrecioProducto" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LeyendaFisalTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogoTicket" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="NumeroCopiasTicketVenta" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TituloTicket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfiguracionGeneral" nillable="true" type="tns:ConfiguracionGeneral" />
</xs:schema>