AIPos.DekstopLayer/Service References/ServiceUsuario/SUsuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISUsuario_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:portType name="ISUsuario">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuario/Login" message="tns:ISUsuario_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuario/LoginResponse" message="tns:ISUsuario_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuario/SelectById" message="tns:ISUsuario_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuario/SelectByIdResponse" message="tns:ISUsuario_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuario/SelectAll" message="tns:ISUsuario_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuario/SelectAllResponse" message="tns:ISUsuario_SelectAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISUsuario" type="tns:ISUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ISUsuario/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/ISUsuario/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ISUsuario/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SUsuario">
    <wsdl:port name="BasicHttpBinding_ISUsuario" binding="tns:BasicHttpBinding_ISUsuario">
      <soap:address location="http://sanagustinservices.azurewebsites.net/SUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>