AIPos.DekstopLayer/Service References/ServiceServicioApartado/SServicioApartado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SServicioApartado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISServicioApartado_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SServicioApartado.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SServicioApartado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sanagustinservices.azurewebsites.net/SServicioApartado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISServicioApartado_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_SelectAllPendientes_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPendientes" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_SelectAllPendientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_RecuperarReporteServicioApartado_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarReporteServicioApartado" />
  </wsdl:message>
  <wsdl:message name="ISServicioApartado_RecuperarReporteServicioApartado_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarReporteServicioApartadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISServicioApartado">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ISServicioApartado/Insert" message="tns:ISServicioApartado_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISServicioApartado/InsertResponse" message="tns:ISServicioApartado_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllPendientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISServicioApartado/SelectAllPendientes" message="tns:ISServicioApartado_SelectAllPendientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISServicioApartado/SelectAllPendientesResponse" message="tns:ISServicioApartado_SelectAllPendientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ISServicioApartado/Update" message="tns:ISServicioApartado_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISServicioApartado/UpdateResponse" message="tns:ISServicioApartado_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISServicioApartado/SelectById" message="tns:ISServicioApartado_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISServicioApartado/SelectByIdResponse" message="tns:ISServicioApartado_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarReporteServicioApartado">
      <wsdl:input wsaw:Action="http://tempuri.org/ISServicioApartado/RecuperarReporteServicioApartado" message="tns:ISServicioApartado_RecuperarReporteServicioApartado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISServicioApartado/RecuperarReporteServicioApartadoResponse" message="tns:ISServicioApartado_RecuperarReporteServicioApartado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISServicioApartado" type="tns:ISServicioApartado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllPendientes">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/SelectAllPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarReporteServicioApartado">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/RecuperarReporteServicioApartado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISServicioApartado" type="tns:ISServicioApartado">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISServicioApartado_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllPendientes">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/SelectAllPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarReporteServicioApartado">
      <soap:operation soapAction="http://tempuri.org/ISServicioApartado/RecuperarReporteServicioApartado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SServicioApartado">
    <wsdl:port name="BasicHttpBinding_ISServicioApartado" binding="tns:BasicHttpBinding_ISServicioApartado">
      <soap:address location="http://sanagustinservices.azurewebsites.net/SServicioApartado.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISServicioApartado" binding="tns:BasicHttpsBinding_ISServicioApartado">
      <soap:address location="https://sanagustinservices.azurewebsites.net/SServicioApartado.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>