AIPos.DekstopLayer/Service References/ServiceServicioApartado/SServicioApartado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServicioApartado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anticipo" type="xs:decimal" />
      <xs:element minOccurs="0" name="DireccionEnvio" nillable="true" type="tns:Direccion" />
      <xs:element minOccurs="0" name="DireccionEnvioId" type="xs:int" />
      <xs:element minOccurs="0" name="Especificaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="tns:EstatusServicioApartado" />
      <xs:element minOccurs="0" name="EstatusId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tipo" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:Venta" />
      <xs:element minOccurs="0" name="VentaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioApartado" nillable="true" type="tns:ServicioApartado" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoInterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="EstatusServicioApartado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstatusServicioApartado" nillable="true" type="tns:EstatusServicioApartado" />
  <xs:complexType name="Venta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cambio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cancelado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Facturado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Folio" type="xs:int" />
      <xs:element minOccurs="0" name="FolioCancelado" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Recibio" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequiereFactura" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="tns:Sucursal" />
      <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="VentasDetalle" nillable="true" type="tns:ArrayOfVentaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venta" nillable="true" type="tns:Venta" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucursalRegistro" nillable="true" type="tns:Sucursal" />
      <xs:element minOccurs="0" name="SucursalRegistroId" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="tns:Direccion" />
      <xs:element minOccurs="0" name="DireccionId" type="xs:int" />
      <xs:element minOccurs="0" name="FraseTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sucursal" nillable="true" type="tns:Sucursal" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="tns:Direccion" />
      <xs:element minOccurs="0" name="DireccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="tns:Nivel" />
      <xs:element minOccurs="0" name="NivelId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Nivel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nivel" nillable="true" type="tns:Nivel" />
  <xs:complexType name="ArrayOfVentaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VentaDetalle" nillable="true" type="tns:VentaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentaDetalle" nillable="true" type="tns:ArrayOfVentaDetalle" />
  <xs:complexType name="VentaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
      <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:Venta" />
      <xs:element minOccurs="0" name="VentaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaDetalle" nillable="true" type="tns:VentaDetalle" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fotografia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Impuesto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="SePesa" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoId" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfServicioApartado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioApartado" nillable="true" type="tns:ServicioApartado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioApartado" nillable="true" type="tns:ArrayOfServicioApartado" />
  <xs:complexType name="ArrayOfReporteServicioApartado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteServicioApartado" nillable="true" type="tns:ReporteServicioApartado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteServicioApartado" nillable="true" type="tns:ArrayOfReporteServicioApartado" />
  <xs:complexType name="ReporteServicioApartado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anticipo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cajero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especificaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstatusServicioApartadoId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLlegadaRepartidor" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalidaRepartidor" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FolioCancelado" type="xs:int" />
      <xs:element minOccurs="0" name="FolioEnvio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Repartidor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="VentaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteServicioApartado" nillable="true" type="tns:ReporteServicioApartado" />
</xs:schema>