AIPos.DekstopLayer/Service References/ServiceCorteCaja/SCorteCaja.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIPos.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIPos.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CorteCaja">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorteEntregado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Diferencia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="QuienRetira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="tns:Sucursal" />
      <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAbonosApartados" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAbonosServicios" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalApartados" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCaja" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCambio" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCancelados" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDomicilio" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMostrador" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRetiros" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalServicios" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTickectsDomicilio" type="xs:int" />
      <xs:element minOccurs="0" name="TotalTickectsMostrador" type="xs:int" />
      <xs:element minOccurs="0" name="TotalTickectsMostrados" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorteCaja" nillable="true" type="tns:CorteCaja" />
  <xs:complexType name="Sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="tns:Direccion" />
      <xs:element minOccurs="0" name="DireccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sucursal" nillable="true" type="tns:Sucursal" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoInterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="tns:Direccion" />
      <xs:element minOccurs="0" name="DireccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="tns:Nivel" />
      <xs:element minOccurs="0" name="NivelId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Nivel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nivel" nillable="true" type="tns:Nivel" />
</xs:schema>